nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 50px 200px;

}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.nav-titile{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A
}
nav ul li{
    list-style: none;
   
}
nav li a{
    text-decoration: none;
    color: #353333;
    font-size: 20px;
    padding: 10px;
}
nav ul{
    display: flex;
    align-items: center;
    
   
}
.btn-primary{
    background-color:#FD6E0A;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
     
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-profile-pic{
    width: 580px;
}
.section-title{
    font-size: 45px;
    font-weight: 600;
   color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
    padding: 10px 5px;
}
.secendary-bg{
    background-color: #FFF8F3;
    
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.item-description{
   font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    
}
.text-centre{
    text-align: center;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skills-container{
    display: flex;
    gap: 24px;
    
}